//====================================================================================================
.wrapper {
}
.page {
}


// Полноэкранный блок ------------------------------------------------------

.fullscreenblock {
}
.block-fs {
	background: #ccc;
	position: relative;
	width: 100%;height: 100%;top: 0;left: 0;
	padding: 120px 0px 0px 0px;
	@media (max-width: 767.98px){
		padding: 72px 0px 0px 0px;
		}

		&__img {
			//position: absolute;
			width: 100%;
			min-height: 100vh;
			background: url('img/main/main.png') 50% / cover no-repeat;
			@media (max-width: 767.98px){
				max-height: 496px;
				}
		}

		&__content {
		}
}

.content-block {
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	
		&__text {
		text-align: center;
		padding: 264px 0% 0% 0%;
		color: #fff;
		@media (max-width: 1440px){
			padding: 200px 0px 0px 0px;
			}
		@media (max-width: 767.98px){
			padding: 120px 0px 0px 0px;
			}
			&_title {
				font-size: rem(56);
				opacity: 80%;
				line-height: 1.2;
				padding: 0 15px;
				text-shadow: 1px 1px 3px #000;
				@media (max-width: 1440px){
					font-size: rem(48);
					}
				@media (max-width: 767.98px){
					font-size: rem(30);
					}
			}

			&_line {
				width: 100px;
				margin: 40px calc(50% - 50px);
				border-bottom: 2px solid rgb(255, 255, 255);
				opacity: 80%;
				box-shadow: 1px 1px 3px #000;
				@media (max-width: 767.98px){
					margin: 30px calc(50% - 50px);
					}
			}

			&_name {
				font-size: rem(24);
				@media (max-width: 767.98px){
					font-size: rem(16);
					}

			}
		}

		&__btn {
			font-size: rem(18);
			padding: 15px;
			color: #fff;
			text-shadow: 0px 0px 3px #000;
			border: 2px solid #fff;
			border-radius: 10px;
			background: rgb(203, 203, 203, 0.1);
			margin: 80px calc(50% - 120px);
			min-width: 240px;
			@media (max-width: 767.98px){
				font-size: rem(14);
				padding: 10px;
				}
		}

		&__arr {
			margin: 145px calc(50% - 20px);
			//box-shadow: 1px 1px 3px rgb(166, 166, 166, 1);
			border: 1px solid rgb(211, 211, 211, 0.75);
			border-radius: 50%;
			@media (max-width: 1440px){
				margin: 0px calc(50% - 20px);
				}
		}
}

// Блок "О нас"------------------------------------------------------

.about {
position: relative;width: 100%;height: 100%;top: 0;left: 0;
	&__body {
	}
}
.body-about {

	&__title {
		font-size: rem(48);
		width: 100%;
		text-align: center;
		padding: 176px 0px 80px 0px;
		@media (max-width: 767.98px){
			padding: 72px 0px 80px 0px;
			font-size: rem(28);
			}

	}

	&__items {
		display: flex;
		justify-content: center;
		padding: 0px 50px;
		gap: 32px;
		flex-wrap: wrap;
	}

	&__item {
		text-align: center;
		width: 240px;
		
	}

	&__icon img {
		@media (max-width: 767.98px){
			width: 74px;
			}

	}

	&__text {
		@include adaptiveValue("font-size",20,16,767.98,320,1);
	}
}



// Блок "Студия поможет Вам"------------------------------------------------------

.help {


	&__body {
	}
}
.body-help {
	margin: 176px 17% 0px 17%;
	@media (max-width: 1100px){
	margin: 176px 12% 0px 12%;
}
	@media (max-width: 767.98px){
		margin: 176px 5% 0px 5%;
}


	&__title {
		font-size: rem(48);
		width: 524px;
		top: 0;
		left: 0;
		padding: 0px 0px 80px 0px;
		text-align: center;
		margin: 0 auto;
	}

	&__items {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(4, 1fr);
		gap: 32px;
		@include adaptiveValue("gap",32,12,1920,1440,1);
	}
	&__item1 {
		position: relative;
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}
	&__item2 {
		position: relative;
		grid-column: 3 / 5;
		grid-row: 1 / 2;
	}
	&__item3 {
		position: relative;
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}
	&__item4 {
		position: relative;
		grid-column: 4 / 5;
		grid-row: 2 / 3;
	}

// Грид от 1100px до 767.98px -------------------------------------------

	@media (max-width: 1100px){

		&__title {
			font-size: rem(36);
			width: 524px;
			padding: 0px 0px 80px 0px;
			text-align: center;
			margin: 0 auto;
		}
	
		&__items {
			//display: grid;
			grid-template: repeat(4, 1fr) / repeat(2, 1fr);
			gap: 32px;
			@include adaptiveValue("gap",32,12,1920,1440,1);
		}
		&__item1 {
			position: relative;
			grid-column: 1 / 3;
			grid-row: 1 / 3;
		}
		&__item2 {
			position: relative;
			grid-column: 1 / 3;
			grid-row: 3 / 4;
		}
		&__item3 {
			position: relative;
			grid-column: 1 / 2;
			grid-row: 4 / 5;
		}
		&__item4 {
			position: relative;
			grid-column: 2 / 3;
			grid-row: 4 / 5;
		}
}

// Грид от 767.98px до 320px -------------------------------------------

@media (max-width: 767.98px){


	&__title {
		width: 250px;
		font-size: rem(22);
		text-align: center;
		//margin: 0 auto;
	}

	&__items {
		//display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.5fr 150px 150px;
		//grid-template: repeat(5, 1fr) / repeat(1, 1fr);
		gap: 24px;
	}
	&__item1 {
		position: relative;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	&__item2 {
		position: relative;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	&__item3 {
		position: relative;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	&__item4 {
		position: relative;
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}


}


	&__icon {
	}

			&__icon img {
				width: 100%;
				height: 100%;
			}

			&__text1 {
				position: absolute;
				left: 0;
				top: 0;
				font-size: rem(28);
				line-height: 1.2;
				@include adaptiveValue("font-size",28,18,1920,1440,1);
				color: rgb(255, 255, 255);
				padding: 10% 0px 0px 10%;
				text-shadow: 1px 1px 1px rgb(177, 177, 177);
				margin: auto;
				
			}
			&__text2 {
				position: absolute;
				left: 0;
				top: 0;
				font-size: rem(28);
				line-height: 1.2;
				@include adaptiveValue("font-size",28,18,1920,1440,1);
				color: rgb(255, 255, 255);
				text-align: center;
				padding: 27% 0px 0px 8%;
			}
			&__text3 {
				position: absolute;
				left: 0;
				top: 0;
				font-size: rem(22);
				//line-height: 1.2;
				@include adaptiveValue("font-size",22,16,1920,1440,1);
				color: rgb(255, 255, 255);
				text-align: center;
				padding: 27% 20% 0px 20%;
				@media (max-width: 767.98px){
					width: 100%;
					padding: 50px 3% 0px 3%;
					text-align: center;
				}
			}
			&__text4 {
				position: absolute;
				left: 0;
				top: 0;
				font-size: rem(22);
				//line-height: 1.2;
				@include adaptiveValue("font-size",22,16,1920,1440,1);
				color: rgb(255, 255, 255);
				text-align: center;
				padding: 27% 30% 0px 30%;
				@media (max-width: 767.98px){
					width: 100%;
					padding: 50px 3% 0px 3%;
					text-align: center;
				}
			}

}


// Блок "Акции"------------------------------------------------------


.discount {

	&__body {
		background: rgb(234, 234, 234);
		margin: 176px 0px 0px 0px;
		padding: 0px 0px 288px 0px;
		@media (max-width: 996px){
			padding: 0px 0px 110px 0px;
			margin: 76px 0px 0px 0px;
}
	}

	&__title {
		font-size: rem(48);
		padding: 176px 0px 80px 0px;
		text-align: center;
		@media (max-width: 996px){
			font-size: rem(28);
			padding: 72px 0px 50px 0px;
}
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
	}
}
.discount-body {

	&__slider {
	}
}
.body {

	&__slider {
	}
}
.swiper {
	max-width: 1320px;
	height: 424px;
	background: #fff;
	@media (max-width: 1440px){
		max-width: 924px;
		max-height: 296px;
}
	@media (max-width: 996px){
		max-width: 454px;
		min-height: 650px;
}
	@media (max-width: 480px){
		max-width: 288px;
		min-height: 500px;
}

}
.swiper-wrapper {
}




.swiper-slide {
	display: flex;
	@media (max-width: 996px){
		flex-direction: column;
}

	&__img {
		object-fit: cover;
		@media (max-width: 1440px){
			max-width: 454px;
			max-height: 296px;
	}
		@media (max-width: 480px){
			max-width: 288px;
			max-height: 192px;
	}

		

	}

	&__content {
		padding: 0px 32px;
	}

	&__title {
		font-size: rem(32);
		padding: 80px 0px 24px 0px;
		@media (max-width: 1440px){
			font-size: rem(24);
			padding: 40px 0px 24px 0px;
	}
	@media (max-width: 480px){
		font-size: rem(20);
}

	}

	&__text {
		font-size: rem(18);
		line-height: 1.5;
		max-width: 480px;
		@media (max-width: 480px){
			font-size: rem(14);
			max-width: 288px;
	}
	}

	&__price {
		display: flex;
		padding: 24px 0px 36px 0px;
		color: $GrinColor;

		&_big {
			font-size: rem(36);
			@media (max-width: 480px){
				font-size: rem(24);
		}
		}

		&_small {
			font-size: rem(18);
			align-self: flex-end;
			padding: 0px 0px 0px 16px;
			@media (max-width: 480px){
				font-size: rem(14);
		}
		}
	}

	&__link span {
		display: block;
		text-decoration: underline;
	}
}
.slider {

	&__nav {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 470px;
		max-height: 64;
		margin: 0 auto;
		padding: 124px 0px 0px 0px;
		@media (max-width: 996px){
			max-width: 300px;
	}


	}
}
.swiper-pagination {
	top: 70px;
}
.swiper-button-prev {
	padding: 24px 24px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	background: #fff;
}
.swiper-button-next {
	padding: 24px 24px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	background: #fff;
}









//====================================================================================================
